body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.banner {
  background-image: url(../images/background/Group\ 8450.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  margin-top: 14%;
}
.order-section {
  display: flex;
  padding-left: 10%;
}

.order-left-section {
  width: 60%;
  padding-top: 2%;
}
span {
  color: #eb8022;
}
.order-left-section h1 {
  color: rgb(88, 87, 87);
  font-size: 55px;
  font-weight: 700;
}
.order-left-section p,
.about-left p {
  color: rgb(97, 97, 97);
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 50px;
}
.order-buttun {
  text-decoration: none;
  color: aliceblue;
  background-image: linear-gradient(to right, #ff9933 0%, #ff5050 100%);
  padding: 20px 40px;
  border-radius: 35px;
  font-size: 18px;
  font-weight: 500;
}
.order-right-section {
  width: 40%;
}
.order-image {
  width: 750px;
  height: 750px;
  margin-top: -176px;
  margin-left: -20px;
}

.about-me {
  display: flex;
  padding-top: 7%;
}
.about-right {
  width: 60%;
}
.about-right img {
  width: 300px;
  height: 500px;
  padding-left: 30%;
  padding-right: 20%;
}

.about-left {
  width: 40%;
  padding-top: 20px;
  padding-right: 150px;
}
.about-left-h {
  color: rgb(97, 97, 97);
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 10px;
}
.banner-2 {
  background-image: url(../images/background/7.png);
  background-repeat: no-repeat;
  background-position: right center;
  height: 600px;
  margin-top: 70px;
}

.recipies-sec-F {
  align-items: center;
  text-align: center;
  margin: 10% 27% 10% 27%;
}
.recipies-sec-F p {
  font-size: 18px;
  font-weight: 400;
  color: rgb(97, 97, 97);
  margin-bottom: -80px;
}
.recipies-sec-S {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}
.recipies-item {
  width: 55%;
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 150px;
  padding-top: 1%;
  padding-left: 2%;
  padding-bottom: 2%;
  box-shadow: 10px 10px 50px silver;
  border-radius: 15px;
}
.recipies-item img {
  height: 350px;
  width: 470px;
}
.recipies-item h2 {
  font-size: 26px;
  font-weight: 700;
}
.recipies-item p {
  font-size: 18px;
  font-weight: 400;
  color: rgb(97, 97, 97);
}
